.notB {
  background: transparent !important;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.btn1 {
  margin-left: 20px;
  width: 40%;
  height: 20%;
  border-radius: 24px;
  font-size: 2rem;
  background: #5eba23a8;
  color: #ffffff;
  border: #00000059 1px solid;
  cursor: pointer;
}

.imgt {
  /* animation: float 6s ease-in-out infinite; */
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }

  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-20px);
  }

  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
}


.txt {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}

.backBody {
  background: url(https://www.fiatc.es/_cache_a257/_themesdelivery/staticblog/assets/img/uploads/2018/01/pasos-a-seguir-si-te-pierdes-en-el-bosque.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}